{% set val_sub_clausula = 1 %}
<p style="text-align: center;">
    <strong>
        CLAUSULA {{ clausulas[val_clausula]}}
    </strong>
</p>
<p style="text-align: center;">
    <strong>
        LUGAR, CONDICIONES Y FECHA ENTREGA
    </strong>
</p>
<p>
    <strong>
       {{val_clausula }}.{{val_sub_clausula}}
       {% set val_sub_clausula = val_sub_clausula + 1 %}
    </strong>
 
        Las mercanc&iacute;as objeto del presente Contrato ser&aacute;n embarcadas desde {{ contract.puertoOrigen }}, en {{ contract.cantidadEmbarques }}, en {{ contract.cantidadContenedores | raw}} y ser&aacute;n entregadas por el
        <strong>
            VENDEDOR
        </strong>
         en condiciones
        <strong>
            CFR
        </strong>
        en el Puerto Mariel, Cuba, seg&uacute;n INCOTERMS 2010, en el transcurso de {{ contract.tiempoEntrega }}, contadas a partir de la fecha de emisi&oacute;n de la Carta de Cr&eacute;dito. No se permiten embarques antes de la apertura de la Carta de Cr&eacute;dito.
    </p>
<p>
    <strong>
       {{val_clausula }}.{{val_sub_clausula}}
       {% set val_sub_clausula = val_sub_clausula + 1 %}
    </strong>
        No se permiten trasbordos ni escalas en territorios de los Estados Unidos de Am&eacute;rica o que se encuentren bajo su jurisdicci&oacute;n y/o administraci&oacute;n. El
        <strong>
            VENDEDOR
        </strong>
         se responsabiliza por los da&ntilde;os y perjuicios que se le ocasionen al
        <strong>
            COMPRADOR
        </strong>
         por el incumplimiento de esta prohibici&oacute;n.
    </p>
<p>
<strong>
       {{val_clausula }}.{{val_sub_clausula}}
       {% set val_sub_clausula = val_sub_clausula + 1 %}
    </strong>
        <strong>
            El VENDEDOR
        </strong>
         enviar&aacute; al
        <strong>
            COMPRADOR,
        </strong>
         a trav&eacute;s de un mensaje de correo electr&oacute;nico a la direcci&oacute;n {{ contract.correoComprador }} dentro de los siete (7) d&iacute;as posteriores a la fecha del conocimiento de embarque, copia escaneada de todos los documentos referidos en la Cl&aacute;usula III, Ac&aacute;pite 3.3 del presente Contrato.
    </p>
<p>
    <strong>
       {{val_clausula }}.{{val_sub_clausula}}
       {% set val_sub_clausula = val_sub_clausula + 1 %}
    </strong>
        El
        <strong>
            VENDEDOR
        </strong>
         notificar&aacute; al
        <strong>
            COMPRADOR
        </strong>
         con siete (7) d&iacute;as naturales de antelaci&oacute;n el nombre de la embarcaci&oacute;n a utilizar, itinerario, fecha de embarque, tipos de mercanc&iacute;a, peso bruto y neto en kilogramos, volumen y valor total del embarque. El
        <strong>
            COMPRADOR
        </strong>
         se reserva el derecho de consultar en los registros correspondientes la embarcaci&oacute;n seleccionada por el Transportista.
    </p>
<p>
<strong>
       {{val_clausula }}.{{val_sub_clausula}}
       {% set val_sub_clausula = val_sub_clausula + 1 %}
    </strong>
        El
        <strong>
            VENDEDOR
        </strong>
         para la transportaci&oacute;n de las mercanc&iacute;as objeto del presente Contrato, deber&aacute; utilizar los servicios de los transitarios
        <strong>
            AUSA, TRANSCARGO, EXPEDIMAR o PALCO
        </strong>
         a trav&eacute;s de sus corresponsales. El
        <strong>
            VENDEDOR
        </strong>
         enviar&aacute; por correo electr&oacute;nico antes del embarque de las mercanc&iacute;as el borrador del B/L (draft) que le fuera enviado por su agente transitario para su revisi&oacute;n por el
        <strong>
            COMPRADOR
        </strong>
        , el borrador del B/L (draft) deber&aacute; contener el nombre del corresponsal que se encarga de la Representaci&oacute;n en Cuba, en caso de que no coincida con algunos de los transitarios cubanos
        <strong>
            (AUSA, TRANSCARGO, EXPEDIMAR o PALCO)
        </strong>
        este embarque no ser&aacute; aceptado
    </p>
<p>
<strong>
       {{val_clausula }}.{{val_sub_clausula}}
       {% set val_sub_clausula = val_sub_clausula + 1 %}
    </strong>
        El
        <strong>
            VENDEDOR
        </strong>
        pagar&aacute; al
        <strong>
            COMPRADOR
        </strong>
        cualquier gasto que se origine motivado por el incumplimiento de la entrega de la documentaci&oacute;n de embarque o por errores en la misma, de acuerdo con lo establecido en las Cl&aacute;usulas del presente Contrato, a los treinta (30) d&iacute;as posteriores a su notificaci&oacute;n.
    
</p>