{% set val_sub_clausula = 1 %}
<p style="text-align: center;">
    <strong>
        CLAUSULA {{ clausulas[val_clausula]}}
    </strong>
</p>
<p style="text-align: center;">
    <strong>
        ENVASE, EMBALAJE Y MARCAS
    </strong>
</p>
<p>
    <strong>
       {{val_clausula }}.{{val_sub_clausula}}
       {% set val_sub_clausula = val_sub_clausula + 1 %}
    </strong>
 
        Las mercanc&iacute;as objeto de este Contrato ser&aacute;n transportadas, en {{ contract.cantidadEmbarques }}, en {{ contract.cantidadContenedores | raw}}, desde {{ contract.puertoOrigen }} y su embalaje debe de regirse por la NORMA INTERNACIONAL DE MEDIDA FITOSANITARIA No. 15 (NIMF N0.15), de acuerdo con la Resoluci&oacute;n 50/2008 de la Ministra de la Agricultura, hasta el Puerto del Mariel en Cuba.
</p>
<ul>
    <li>
        <u>
            Tipo y forma del envase:
        </u>
         En cajas de cart&oacute;n sobre pallets, con protecci&oacute;n retr&aacute;ctil y flejados al Pallet para evitar cualquier movimiento que ocasione da&ntilde;o durante la transportaci&oacute;n.
    </li>
    <li>
        <u>
            Tipo de transportaci&oacute;n de la carga:
        </u>
         La totalidad de las mercanc&iacute;as objeto del presente Contrato ser&aacute;n transportadas, dentro de Contenedores, cuyo peso bruto no puede exceder los treinta mil (30 000) Kg, toda la carga ser&aacute; contenerizada.
    </li>
</ul>
<p>
    <strong>
       {{val_clausula }}.{{val_sub_clausula}}
       {% set val_sub_clausula = val_sub_clausula + 1 %}
    </strong>
        Todos los envases y embalajes tales como cajas, pallets de madera no manufacturada, as&iacute; como su tipo y material de confecci&oacute;n tienen que ser declarados expresamente en el Conocimiento de Embarque (BL) que se realice como parte del presente Contrato.
    </p>
<p>
    <strong>
       {{val_clausula }}.{{val_sub_clausula}}
       {% set val_sub_clausula = val_sub_clausula + 1 %}
    </strong>
        Todos los envases y embalajes tales como cajas, pallets, de madera no manufacturada est&aacute;n obligados a cumplir la NORMA INTERNACIONAL DE MEDIDA FITOSANITARIA No. 15 (NIMF N0.15), de acuerdo con la Resoluci&oacute;n 50/2008 del Ministerio de la Agricultura de la Rep&uacute;blica de Cuba, por lo que los mismos deber&aacute;n estar marcados con las siglas seg&uacute;n el tratamiento que se les realice.
    </p>
<p>
    <strong>
       {{val_clausula }}.{{val_sub_clausula}}
       {% set val_sub_clausula = val_sub_clausula + 1 %}
    </strong>
     El
    <strong>
        VENDEDOR
    </strong>
     se obliga a enviar las mercanc&iacute;as garantizando en todo caso su seguridad e integridad durante su manipulaci&oacute;n, transporte mar&iacute;timo y terrestre, tiempo de traves&iacute;a, condiciones climatol&oacute;gicas y tiempo de almacenamiento de hasta seis (6) meses en los almacenes del
    <strong>
        COMPRADOR
    </strong>
     en la Rep&uacute;blica de Cuba.
</p>
<p>
    <strong>
       {{val_clausula }}.{{val_sub_clausula}}
       {% set val_sub_clausula = val_sub_clausula + 1 %}
    </strong>
     El
    <strong>
        VENDEDOR
    </strong>
     se responsabilizar&aacute; sobre cualquier p&eacute;rdida, da&ntilde;o o disminuci&oacute;n de la calidad por un acondicionamiento defectuoso, embalaje o marcas deficientes, as&iacute; como de la no advertencia en los documentos de embarque de los cuidados que deban tomarse con las mercanc&iacute;as.
</p>
<p>
    <strong>
       {{val_clausula }}.{{val_sub_clausula}}
       {% set val_sub_clausula = val_sub_clausula + 1 %}
    </strong>
     El
    <strong>
        VENDEDOR
    </strong>
     se obliga a identificar las mercanc&iacute;as objeto del presente Contrato en idioma espa&ntilde;ol, con etiquetas plastificadas e indelebles pegadas en la parte frontal y lateral izquierda de sus embalajes especificando:
</p>
<ul>
    <li>
        <strong>
            Comprador
        </strong>
        <strong>
            : ENERGOIMPORT / UEB REDES
        </strong>
    </li>
    <li>
        <strong>
            VENDEDOR:
        </strong>
        <strong>
            {{ contract.nombreVendedor }}
        </strong>
    </li>
    <li>
        <strong>
            Puerto de Origen:
        </strong>
        <strong>
            {{ contract.puertoOrigen }}
        </strong>
    </li>
    <li>
        <strong>
            Puerto de Destino: Mariel, CUBA
        </strong>
    </li>
    <li>
        <strong>
            Contrato No.
        </strong>
        <strong>
            {{ contract.numero }}
        </strong>
    </li>
    <li>
        <strong>
            Pesos neto / bruto en Kg.:
        </strong>
    </li>
    <li>
        <strong>
            Volumen en m3 :
        </strong>
    </li>
    <li>
        <strong>
            Se&ntilde;ales de prevenci&oacute;n, seguridad y manipulaci&oacute;n.
        </strong>
    </li>
    <li>
        <strong>
            Bulto No. / No. total de bultos
        </strong>
    </li>
</ul>
<p>
    <strong>
       {{val_clausula }}.{{val_sub_clausula}}
       {% set val_sub_clausula = val_sub_clausula + 1 %}
    </strong>
        En cada bulto se incluir&aacute; un ejemplar completo de la lista de empaque y una copia del Certificado de Calidad de todo el embarque. En cada bulto se incluir&aacute; un ejemplar de la lista de empaque correspondiente a dicho bulto. En el exterior de cada bulto se colocar&aacute; una lista de empaque en un sobre de polietileno cerrado colocado en un porta documentos debidamente fijado.
    </p>
<p>
    <strong>
       {{val_clausula }}.{{val_sub_clausula}}
       {% set val_sub_clausula = val_sub_clausula + 1 %}
    </strong>
        Las mercanc&iacute;as a Importar o Importadas ya, que est&eacute;n documentadas o no, pero&nbsp;que no aparezcan reflejadas en los anexos que conforman el presente contrato como parte &iacute;ntegra del mismo, ser&aacute;n consideradas
        <strong>
            <u>
                MERCANC&Iacute;AS NO CONTRATADAS
            </u>
            .
        </strong>
         Su car&aacute;cter comercial ser&aacute; notificado por el
        <strong>
            COMPRADOR
        </strong>
         a la Aduana General de la Rep&uacute;blica de Cuba, para que tenga conocimiento de su existencia y proceda a su correspondiente retenci&oacute;n mediante Resoluci&oacute;n de Decomiso. En este caso la mercanc&iacute;a no ser&aacute; pagada ni devuelta al
        <strong>
            VENDEDOR
        </strong>
        . El mismo no tendr&aacute; derecho de reclamar las mercanc&iacute;as ni el valor de las mismas.
    </p>
<p>
    <strong>
       {{val_clausula }}.{{val_sub_clausula}}
       {% set val_sub_clausula = val_sub_clausula + 1 %}
    </strong>
        En caso de que sea necesario usar madera no manufacturada y por tanto efectuar un control fitosanitario o fumigaci&oacute;n en origen, el
        <strong>
            VENDEDOR
        </strong>
         presentar&aacute; el Certificado Fitosanitario o de Fumigaci&oacute;n correspondiente, emitido por las autoridades competentes o la madera debe estar acu&ntilde;ada indicando que ha sido tratada o fumigada y asume cualquier gasto que esto genere.
    </p>