{% set val_sub_clausula = 1 %}
<p style="text-align: center;">
    <strong>
        CLAUSULA {{ clausulas[val_clausula]}}
    </strong>
</p>
<p style="text-align: center;">
    <strong>
        INSPECCI&Oacute;N EN ORIGEN Y DESTINO POR CUBACONTROL SIS CUBACONTROL S.A
    </strong>
</p>
<p>
    <strong>
       {{val_clausula }}.{{val_sub_clausula}}
       {% set val_sub_clausula = val_sub_clausula + 1 %}
    </strong>
 
        <strong>
        EN ORIGEN:
    </strong>
     El
    <strong>
        VENDEDOR
    </strong>
     se obliga mediante el
    <strong>
        COMPRADOR
    </strong>
     a contratar para la inspecci&oacute;n del cien por ciento (100%) del conteo de las mercanc&iacute;as, m&aacute;s la evidencia fotogr&aacute;fica, en el lugar de origen los servicios de
    <strong>
        SIS
    </strong>
    <strong>
        CUBACONTROL S.A
    </strong>
     o de una agencia oficial de inspecci&oacute;n acreditada por &eacute;sta, oblig&aacute;ndose el
    <strong>
        VENDEDOR
    </strong>
    a pagar a
    <strong>
        SIS
    </strong>
    <strong>
        CUBACONTROL S.A
    </strong>
     los gastos de la inspecci&oacute;n, previa presentaci&oacute;n por
    <strong>
        SIS
    </strong>
    <strong>
        CUBACONTROL S.A
    </strong>
    de la correspondiente factura comercial. El
    <strong>
        VENDEDOR
    </strong>
     enviar&aacute; al
    <strong>
        COMPRADOR
    </strong>
     diez (10) d&iacute;as antes de cada Inspecci&oacute;n de las mercanc&iacute;as el aviso con la fecha y el lugar de inspecci&oacute;n antes de la expedici&oacute;n de las mercanc&iacute;as para embarque y el
    <strong>
        COMPRADOR
    </strong>
     le notificar&aacute; a su Agencia de Inspecci&oacute;n el lugar de las inspecciones y su alcance.
    <strong>
        SIS
    </strong>
    <strong>
        CUBACONTROL S.A
    </strong>
     expedir&aacute; un CERTIFICADO que contendr&aacute; como m&iacute;nimo:
</p>
<ul>
    <li>
        <u>
            Cantidad de bultos:
        </u>
         Cantidad de unidades f&iacute;sicas y bultos y su exacta correspondencia con la lista de empaque.
    </li>
    <li>
        <u>
            Inspecci&oacute;n visual:
        </u>
         Si las mercanc&iacute;as y contenedores no presentan ning&uacute;n golpe ni da&ntilde;o y que los mismos est&eacute;n correctamente sellados.
    </li>
    <li>
        Ser&aacute;n anexadas al Certificado, las fotograf&iacute;as de la Inspecci&oacute;n de los bultos, las fotos deber&aacute;n ser enviadas a la direcci&oacute;n de correo electr&oacute;nico del
        <strong>
            COMPRADOR
        </strong>
        ,
        <strong>
             {{ contract.correoComprador }}
        </strong>
         en el transcurso de diez (10) d&iacute;as con posterioridad a la fecha de embarque.
    </li>
    <li>
        <u>
            Embalaje:
        </u>
         De conformidad con lo estipulado en el Ac&aacute;pite 5.1 del presente contrato.
    </li>
    <li>
        <u>
            Marcas:
        </u>
         De conformidad con lo estipulado en el Ac&aacute;pite 5.6 del presente contrato.
    </li>
</ul>
<p>
    <strong>
       {{val_clausula }}.{{val_sub_clausula}}
       {% set val_sub_clausula = val_sub_clausula + 1 %}
    </strong>
     El
    <strong>
        VENDEDOR
    </strong>
     entregar&aacute; al banco entre los documentos requeridos para el cobro el original del Certificado de Inspecci&oacute;n del embarque. La firma del Certificado de Inspecci&oacute;n por la Agencia de Inspecci&oacute;n del
    <strong>
        COMPRADOR
    </strong>
     no se considerar&aacute; como una aceptaci&oacute;n de las Mercanc&iacute;as por el
    <strong>
        COMPRADOR
    </strong>
    .
</p>
<p>
    <strong>
       {{val_clausula }}.{{val_sub_clausula}}
       {% set val_sub_clausula = val_sub_clausula + 1 %}
    </strong>
        <strong>
            EN DESTINO:
        </strong>
         El
        <strong>
            COMPRADOR
        </strong>
         proceder&aacute; a la apertura de los bultos en un plazo no mayor de 30 (treinta) d&iacute;as naturales, despu&eacute;s de su recibo en el almac&eacute;n de destino del
        <strong>
            COMPRADOR
        </strong>
        , notific&aacute;ndole al
        <strong>
            VENDEDOR
        </strong>
         o su representante con setenta y dos (72) horas de antelaci&oacute;n a la fecha, hora y lugar en que se realizar&aacute; la correspondiente apertura para comprobar la cantidad, aspecto de la calidad e integridad de las mismas. Al efecto de dejar constancia de lo establecido anteriormente se levantar&aacute; un acta por los bultos verificados y lo consignado en esta acta firmada por las partes y por el representante de la entidad de control del
        <strong>
            COMPRADOR,
        </strong>
        <strong>
            SIS CUBACONTROL S.A
        </strong>
         ser&aacute; prueba concluyente y fundamento para cualquier reclamaci&oacute;n sobre el estado o rotura de las mercanc&iacute;as recibidas, aunque el
        <strong>
            VENDEDOR
        </strong>
         o su representante debidamente citados no hagan acto de presencia. El
        <strong>
            COMPRADOR
        </strong>
         enviar&aacute; por correo electr&oacute;nico al
        <strong>
            VENDEDOR
        </strong>
         en el plazo de 30 (treinta) d&iacute;as naturales, posteriores a la fecha del Acta de Inspecci&oacute;n, copia de dicha Acta en los casos en que haya detectado alguna posible causa de reclamaci&oacute;n ulterior.
    </p>