{% set val_sub_clausula = 1 %}
<p style="text-align: center;">
    <strong>
        CLAUSULA {{ clausulas[val_clausula]}}
    </strong>
</p>
<p style="text-align: center;">
    <strong>
        CANTIDAD, CALIDAD Y GARANTIA
    </strong>
</p>


<p>
    <strong>
       {{val_clausula }}.{{val_sub_clausula}}
       {% set val_sub_clausula = val_sub_clausula + 1 %}
    </strong>
 
     El
    <strong>
        VENDEDOR
    </strong>
    garantizar&aacute; al
    <strong>
        COMPRADOR
    </strong>
     la calidad y cantidad de las mercanc&iacute;as relacionadas en el
    <strong>
        Anexo No.1
    </strong>
     del presente Contrato, as&iacute; como la calidad de las materias primas empleadas en su fabricaci&oacute;n, en correspondencia con las especificaciones t&eacute;cnicas establecidas en el presente Contrato, as&iacute; como que las mercanc&iacute;as sean nuevas, de primer uso y primera calidad. Tambi&eacute;n garantizar&aacute; la mercanc&iacute;a contra toda falla proveniente de un error de dise&ntilde;o o de fabricaci&oacute;n.
</p>

<p>
    <strong>
       {{val_clausula }}.{{val_sub_clausula}}
       {% set val_sub_clausula = val_sub_clausula + 1 %}
    </strong>
     El
    <strong>
        VENDEDOR
    </strong>
     entregar&aacute; al
    <strong>
        COMPRADOR
    </strong>
     los Certificados de Calidad emitidos por la f&aacute;brica productora. En cada caso el Certificado de Calidad contendr&aacute;, adem&aacute;s de los datos que usualmente se incluyen, la identificaci&oacute;n de las Normas T&eacute;cnicas bajo cuyas regulaciones se han confeccionado las mercanc&iacute;as indicadas en el
    <strong>
        Anexo No. 1
    </strong>
     del presente Contrato. El Certificado de Calidad incluir&aacute; el resultado de las pruebas realizadas por la f&aacute;brica productora.
</p>

<p>
    <strong>
       {{val_clausula }}.{{val_sub_clausula}}
       {% set val_sub_clausula = val_sub_clausula + 1 %}
    </strong>
     El per&iacute;odo de garant&iacute;a de las mercanc&iacute;as es de {{ contract.tiempoGarantia }} contados a partir de la fecha del Conocimiento de embarque B/L.
</p>
<p>
    <strong>
       {{val_clausula }}.{{val_sub_clausula}}
       {% set val_sub_clausula = val_sub_clausula + 1 %}
    </strong>
     El
    <strong>
        VENDEDOR
    </strong>
     garantizar&aacute; todas las medidas para hacer efectivas las Garant&iacute;as establecidas en el presente Contrato, as&iacute; como del alcance de lo estipulado en el mismo.
</p>
<p>
    <strong>
       {{val_clausula }}.{{val_sub_clausula}}
       {% set val_sub_clausula = val_sub_clausula + 1 %}
    </strong>
     Si las mercanc&iacute;as resultasen total o parcialmente defectuosas durante el per&iacute;odo de garant&iacute;a o se detectaran vicios ocultos hasta un (1) a&ntilde;o despu&eacute;s de vencido el mismo, &eacute;ste le ser&aacute; notificado al
    <strong>
        VENDEDOR
    </strong>
     por escrito mediante una Carta de Reclamaci&oacute;n a la cual se le adjuntar&aacute; la documentaci&oacute;n probatoria del defecto o falla acontecida y el
    <strong>
        VENDEDOR
    </strong>
    , a opci&oacute;n del
    <strong>
        COMPRADOR
    </strong>
     y sin costo adicional para &eacute;ste, est&aacute; obligado a sustituir o reembolsar el valor de las mismas. El
    <strong>
        VENDEDOR
    </strong>
     en un plazo no mayor de diez (10) d&iacute;as a partir de la fecha del recibo de la reclamaci&oacute;n, le informar&aacute; al
    <strong>
        COMPRADOR
    </strong>
     el t&eacute;rmino para la sustituci&oacute;n o reembolso de las mercanc&iacute;as defectuosas. La sustituci&oacute;n, si hubiera alguna, debe hacerse de mutuo acuerdo entre las partes, en un per&iacute;odo de tiempo no mayor de noventa (90) d&iacute;as y el reembolso ser&aacute; realizado en un t&eacute;rmino no mayor de un (1) mes contado a partir de la fecha de notificaci&oacute;n por el
    <strong>
        COMPRADOR
    </strong>
     de los defectos detectados mediante una Transferencia Bancaria a la cuenta del
    <strong>
        COMPRADOR
    </strong>
    .
</p>
<p>
    <strong>
       {{val_clausula }}.{{val_sub_clausula}}
       {% set val_sub_clausula = val_sub_clausula + 1 %}
    </strong>
    Las mercanc&iacute;as entregadas como reemplazo de las defectuosas reclamadas quedan garantizadas en los mismos t&eacute;rminos y condiciones que la mercanc&iacute;a original y por un nuevo per&iacute;odo igual al previsto para &eacute;stas. Esta disposici&oacute;n no se aplicar&aacute; a aquellas otras mercanc&iacute;as que no resulten defectuosas, para las cuales el per&iacute;odo de garant&iacute;a se prorroga solamente por el tiempo en que las mercanc&iacute;as hayan estado inmovilizadas como consecuencia de defecto detectado.
</p>
<p>
    <strong>
       {{val_clausula }}.{{val_sub_clausula}}
       {% set val_sub_clausula = val_sub_clausula + 1 %}
    </strong>
     Las mercanc&iacute;as se considerar&aacute;n entregadas en cuanto a cantidad, seg&uacute;n lo expresado en la factura comercial, lista de empaque y documentos de transporte. La cantidad expresada en estos documentos deber&aacute; coincidir con la indicada en el
    <strong>
        Anexo No. 1
    </strong>
     del presente Contrato.
</p>