{% set val_sub_clausula = 1 %}
<p style="text-align: center;">
    <strong>
        CLAUSULA {{ clausulas[val_clausula]}}
    </strong>
</p>
<p style="text-align: center;">
    <strong>
        SEGURO
    </strong>
</p>


<p>
    <strong>
       {{val_clausula }}.{{val_sub_clausula}}
       {% set val_sub_clausula = val_sub_clausula + 1 %}
    </strong>
 
        El
        <strong>
            COMPRADOR
        </strong>
         est&aacute; obligado a asegurar las mercanc&iacute;as por su cuenta y a su favor desde su entrega en Puerto de embarque (origen), hasta Puertos cubanos, extensible hasta el primer almac&eacute;n de destino en territorio de la Rep&uacute;blica de Cuba.
    </p>

<p>
    <strong>
       {{val_clausula }}.{{val_sub_clausula}}
       {% set val_sub_clausula = val_sub_clausula + 1 %}
    </strong>
        La P&oacute;liza de Seguro ser&aacute; pactada con la Empresa de Seguros Internacionales de Cuba, ESICUBA. El valor asegurado comprender&aacute; el valor total del Contrato, seg&uacute;n la condici&oacute;n de compra, m&aacute;s un 10%.
    </p>

<p>
    <strong>
       {{val_clausula }}.{{val_sub_clausula}}
       {% set val_sub_clausula = val_sub_clausula + 1 %}
    </strong>
        El
        <strong>
            VENDEDOR
        </strong>
         deber&aacute; notificar al
        <strong>
            COMPRADOR
        </strong>
         los datos referidos al embarque de las mercanc&iacute;as a fin de asegurar la misma desde que &eacute;sta est&eacute; sobre el buque. A tal efecto el
        <strong>
            VENDEDOR
        </strong>
         enviar&aacute; en un t&eacute;rmino de setenta y dos (72) horas a partir de la Fecha de emisi&oacute;n del Conocimiento de Embarque, los siguientes datos:
    </p>
    
<ul>
    <li>
        N&uacute;mero de Conocimiento de Embarque (B/L)
    </li>
    <li>
        Puertos de embarque y destino
    </li>
    <li>
        Nombre del Buque
    </li>
    <li>
        Fecha de salida del buque
    </li>
    <li>
        Cantidad de bultos y cantidad de contenedores.
    </li>
    <li>
        Peso Bruto en Kg.
    </li>
</ul>
<p>
    <strong>
       {{val_clausula }}.{{val_sub_clausula}}
       {% set val_sub_clausula = val_sub_clausula + 1 %}
    </strong>
        En caso de que el
        <strong>
            VENDEDOR
        </strong>
         incumpla lo regulado en el p&aacute;rrafo precedente y tal circunstancia origine que el
        <strong>
            COMPRADO
        </strong>
        R se vea imposibilitado de realizar la tramitaci&oacute;n del seguro, el
        <strong>
            VENDEDOR
        </strong>
         se obliga a asumir todos los riesgos y gastos de las mercanc&iacute;as durante la traves&iacute;a y hasta el destino final como cubre la p&oacute;liza de seguro del
        <strong>
            COMPRADOR
        </strong>
        .
        </p>