{% set val_sub_clausula = 1 %}
<p style="text-align: center;">
    <strong>
        CLAUSULA {{ clausulas[val_clausula]}}
    </strong>
</p>
<p style="text-align: center;">
    <strong>
        PENALIDADES
    </strong>
</p>


<p>
    <strong>
       {{val_clausula }}.{{val_sub_clausula}}
       {% set val_sub_clausula = val_sub_clausula + 1 %}
    </strong>
 

En caso de demora en la entrega de las mercanc&iacute;as por causas imputables al
    <strong>
        VENDEDOR
    </strong>
     &eacute;ste se obliga con el
    <strong>
        COMPRADOR
    </strong>
    a pagar del precio de venta de las mercanc&iacute;as demoradas un equivalente al cero punto dos por ciento (0.2%) del valor de la parte de las mercanc&iacute;as demoradas por cada d&iacute;a de demora a partir de las fechas de entrega previstas seg&uacute;n el presente Contrato. El monto total de la penalidad no exceder&aacute; del ocho por ciento (8%) del valor de las mercanc&iacute;as demoradas.
</p>
<p>
    <strong>
       {{val_clausula }}.{{val_sub_clausula}}
       {% set val_sub_clausula = val_sub_clausula + 1 %}
    </strong>
    Si la demora se prolongase por un t&eacute;rmino superior a los tres (3) meses, el
    <strong>
        COMPRADOR
    </strong>
     tiene derecho mediante una simple comunicaci&oacute;n por correo electr&oacute;nico a desligarse del Contrato con respecto a las mercanc&iacute;as demoradas y a las que hubieren sido entregadas, si estas &uacute;ltimas no pudieren ser utilizadas sin la parte no entregada y el
    <strong>
        VENDEDOR
    </strong>
    , indemnizar&aacute; al
    <strong>
        COMPRADOR
    </strong>
     por los da&ntilde;os que el incumplimiento le haya causado hasta un m&aacute;ximo del cien por ciento (100 %) valor de las mercanc&iacute;as no entregadas, determinado sobre la base del Contrato. Si conforme a lo previsto en esta cl&aacute;usula, el
    <strong>
        COMPRADOR
    </strong>
     resolver&aacute; el Contrato, deber&aacute; almacenar a cuenta y riesgo del
    <strong>
        VENDEDOR
    </strong>
    , las mercanc&iacute;as recibidas con cargo al mismo, notific&aacute;ndoselo a &eacute;ste de inmediato. A su vez el
    <strong>
        VENDEDOR
    </strong>
     est&aacute; en la obligaci&oacute;n de reembolsarle al
    <strong>
        COMPRADOR
    </strong>
     las cantidades que hubiera recibido con cargo al propio Contrato, m&aacute;s el inter&eacute;s del mercado hasta el d&iacute;a real del reintegro.
</p>