{% set val_sub_clausula = 1 %}
<p style="text-align: center;">
    <strong>
        CLAUSULA {{ clausulas[val_clausula]}}
    </strong>
</p>
<p style="text-align: center;">
    <strong>
        RECLAMACIONES
    </strong>
</p>


<p>
    <strong>
       {{val_clausula }}.{{val_sub_clausula}}
       {% set val_sub_clausula = val_sub_clausula + 1 %}
    </strong>
 
    Las Partes tienen derecho a reclamarse mutuamente por el incumplimiento total o parcial de las obligaciones previstas en el presente Contrato.
</p>
<p>
    <strong>
       {{val_clausula }}.{{val_sub_clausula}}
       {% set val_sub_clausula = val_sub_clausula + 1 %}
    </strong>
    El
    <strong>
        VENDEDOR
    </strong>
     es responsable por las alteraciones de calidad de las mercanc&iacute;as, as&iacute; como los da&ntilde;os y afectaciones que &eacute;stas sufrieren por su negligencia o por un embalaje defectuoso, a&uacute;n despu&eacute;s de traspasadas su propiedad y riesgos al
    <strong>
        COMPRADOR
    </strong>
    , quedando obligado a corregir todo vicio oculto proveniente de alg&uacute;n defecto en el dise&ntilde;o, los materiales o la fabricaci&oacute;n.
</p>
<p>
    <strong>
       {{val_clausula }}.{{val_sub_clausula}}
       {% set val_sub_clausula = val_sub_clausula + 1 %}
    </strong>
     Las Reclamaciones se presentar&aacute;n por correo electr&oacute;nico o carta, con documentaci&oacute;n de argumentaci&oacute;n adjunta. Como fecha de presentaci&oacute;n se considerar&aacute; la fecha de emisi&oacute;n del correo electr&oacute;nico o envi&oacute; de la carta por el
    <strong>
        COMPRADOR
    </strong>
    . Si transcurridas setenta y dos (72) horas a partir de la fecha de emisi&oacute;n del correo electr&oacute;nico o carta, el
    <strong>
        COMPRADOR
    </strong>
     no hubiere recibido comunicaci&oacute;n expresa del
    <strong>
        VENDEDOR
    </strong>
     notific&aacute;ndole del recibo de dicha documentaci&oacute;n, el
    <strong>
        COMPRADOR
    </strong>
     enviar&aacute; los documentos al
    <strong>
        VENDEDOR
    </strong>
    .
</p>
<p>
    <strong>
       {{val_clausula }}.{{val_sub_clausula}}
       {% set val_sub_clausula = val_sub_clausula + 1 %}
    </strong>
     En caso de diferencia en la cantidad el
    <strong>
        COMPRADOR
    </strong>
     podr&aacute; reclamar por correo electr&oacute;nico o carta al
    <strong>
        VENDEDOR
    </strong>
     dentro de los noventa (90) d&iacute;as posteriores a la fecha del acta de apertura de bultos especificada en el presente Contrato, la parte de las mercanc&iacute;as no recibidas o la restituci&oacute;n de su valor.
</p>
<p>
    <strong>
       {{val_clausula }}.{{val_sub_clausula}}
       {% set val_sub_clausula = val_sub_clausula + 1 %}
    </strong>
     Las reclamaciones por calidad podr&aacute;n presentarse en cualquier momento dentro del per&iacute;odo de garant&iacute;a y hasta cuarenta y cinco (45) d&iacute;as despu&eacute;s de vencido el mismo.
</p>
<p>
    <strong>
       {{val_clausula }}.{{val_sub_clausula}}
       {% set val_sub_clausula = val_sub_clausula + 1 %}
    </strong>
     El
    <strong>
        COMPRADOR
    </strong>
     podr&aacute; presentar reclamaci&oacute;n por vicios ocultos en cualquier momento dentro del per&iacute;odo de garant&iacute;a y hasta un (1) a&ntilde;o despu&eacute;s de vencido el mismo.
</p>
<p>
    <strong>
       {{val_clausula }}.{{val_sub_clausula}}
       {% set val_sub_clausula = val_sub_clausula + 1 %}
    </strong>
     El
    <strong>
        VENDEDOR
    </strong>
     deber&aacute; responder las notificaciones de Reclamaci&oacute;n presentadas por el
    <strong>
        COMPRADOR
    </strong>
     dentro del t&eacute;rmino de quince (15) d&iacute;as contados a partir de la fecha de presentada la Reclamaci&oacute;n.
</p>
<p>
    <strong>
       {{val_clausula }}.{{val_sub_clausula}}
       {% set val_sub_clausula = val_sub_clausula + 1 %}
    </strong>
     Si dentro de dicho t&eacute;rmino el
    <strong>
        COMPRADOR
    </strong>
     no recibiera respuesta satisfactoria, podr&aacute; dirigirse a la Corte de Arbitraje acordada en la
    <u>
        Cl&aacute;usula XII
    </u>
     del presente Contrato.
</p>