{% set val_sub_clausula = 1 %}
<p style="text-align: center;">
    <strong>
        CLAUSULA {{ clausulas[val_clausula]}}
    </strong>
</p>
<p style="text-align: center;">
    <strong>
        CIRCUNSTANCIAS EXIMENTES DE RESPONSABILIDAD
    </strong>
</p>


<p>
    <strong>
       {{val_clausula }}.{{val_sub_clausula}}
       {% set val_sub_clausula = val_sub_clausula + 1 %}
    </strong>
 
    
    Se consideran circunstancias eximentes de responsabilidad aquellas que surjan despu&eacute;s de firmado el Contrato e impidan el cumplimiento de la obligaci&oacute;n que fue afectada a consecuencia de acontecimientos&nbsp;de car&aacute;cter extraordinarios, que sean imprevisibles o que siendo previsibles sean inevitables&nbsp;por las partes. La parte que invoque las circunstancias se&ntilde;aladas deber&aacute; advertir a la otra en un t&eacute;rmino de quince (15) d&iacute;as por escrito y sin demora, el comienzo y cese de las mismas y acreditar su acaecimiento en un t&eacute;rmino de diez (10) d&iacute;as una vez obtenida la declaraci&oacute;n certificada por la C&aacute;mara de Comercio o una Autoridad competente de su pa&iacute;s. Si estas causas, perduraran por m&aacute;s de cuatro (4) meses, cada parte podr&aacute; solicitar de la otra un nuevo plazo para el cumplimiento de sus obligaciones. Si las obligaciones contractuales no se cumplen en el nuevo plazo acordado entre las partes, cada parte podr&aacute; cancelar el Contrato por medio de comunicaci&oacute;n escrita.
</p>
<p>
    <strong>
       {{val_clausula }}.{{val_sub_clausula}}
       {% set val_sub_clausula = val_sub_clausula + 1 %}
    </strong>
     No ser&aacute;n consideradas circunstancias eximentes de responsabilidad ni circunstancias modificativas de las obligaciones emergentes el presente Contrato cualesquiera disposiciones, regulaciones, proclamas, &oacute;rdenes o acciones, incluida la denegaci&oacute;n de licencias de Gobiernos extranjeros a las partes o de entidades que en cualquier forma posean, dirijan o controlen al
    <strong>
        VENDEDOR
    </strong>
    , que impidan o intenten impedir, total o parcialmente, el oportuno y cabal cumplimiento del presente Contrato.
</p>