{% set val_sub_clausula = 1 %}
<p style="text-align: center;">
    <strong>
        CLAUSULA {{ clausulas[val_clausula]}}
    </strong>
</p>
<p style="text-align: center;">
    <strong>
        ARBITRAJE
    </strong>
</p>


<p>
    <strong>
       {{val_clausula }}.{{val_sub_clausula}}
       {% set val_sub_clausula = val_sub_clausula + 1 %}
    </strong>
 
     Las partes contratantes cumplir&aacute;n este Contrato de buena fe. Las diferencias y controversias que se originen en la ejecuci&oacute;n o respecto de la interpretaci&oacute;n del Contrato o de los acuerdos que se deriven de &eacute;l, ser&aacute;n resueltas mediante negociaciones amigables.
</p>
<p>
    <strong>
       {{val_clausula }}.{{val_sub_clausula}}
       {% set val_sub_clausula = val_sub_clausula + 1 %}
    </strong>
     En todos los aspectos relacionados con la ejecuci&oacute;n, interpretaci&oacute;n y cumplimiento de las obligaciones de las partes en este Contrato, regir&aacute; en primer orden, como Ley sustantiva, los acuerdos de las partes reflejadas mediante cl&aacute;usulas en el propio texto del Contrato y en un segundo orden, la Convenci&oacute;n de Viena de 1980, la Convenci&oacute;n de las Naciones Unidas sobre los Contratos de Compraventa Internacional de Mercader&iacute;as, los INCOTERMS 2010 y la Ley Cubana.
</p>
<p>
    <strong>
       {{val_clausula }}.{{val_sub_clausula}}
       {% set val_sub_clausula = val_sub_clausula + 1 %}
    </strong>
     Si las partes no llegaren a acuerdo, en un plazo de sesenta (60) d&iacute;as contados a partir de la fecha de la notificaci&oacute;n de la primera Reclamaci&oacute;n, las mismas se someter&aacute;n a la CORTE CUBANA DE ARBITRAJE COMERCIAL INTERNACIONAL, adscrita a la C&aacute;mara de Comercio de la Rep&uacute;blica de Cuba. Ser&aacute; aplicable la Ley Cubana, se utilizar&aacute; el idioma Espa&ntilde;ol, el laudo ser&aacute; inapelable y de obligatorio cumplimiento para las Partes. La sede ser&aacute; en la Habana, Cuba y el tribunal arbitral estar&aacute; compuesto por tres (3) &aacute;rbitros.
</p>
<p>
    <strong>
       {{val_clausula }}.{{val_sub_clausula}}
       {% set val_sub_clausula = val_sub_clausula + 1 %}
    </strong>
     Si una de las partes somete a la otra a La Corte de Arbitraje, no exime a la parte demandada del cumplimiento del resto de las obligaciones establecidas en este Contrato.
</p>