{% set val_sub_clausula = 1 %}
<p style="text-align: center;">
    <strong>
        CLAUSULA {{ clausulas[val_clausula]}}
    </strong>
</p>
<p style="text-align: center;">
    <strong>
PATENTES Y OTROS DERECHOS DE LA PROPIEDAD INTELECTUAL
    </strong>
</p>


<p>
    <strong>
       {{val_clausula }}.{{val_sub_clausula}}
       {% set val_sub_clausula = val_sub_clausula + 1 %}
    </strong>
 
     EL
    <strong>
        VENDEDOR
    </strong>
     deber&aacute; entregar las mercanc&iacute;as al
    <strong>
        COMPRADOR
    </strong>
     libres de cualquier derecho o pretensiones de un tercero basado en la propiedad intelectual u otros tipos de propiedad intelectual que conociera o no hubiere podido ignorar en el momento de la celebraci&oacute;n del Contrato.
</p>
<p>
    <strong>
       {{val_clausula }}.{{val_sub_clausula}}
       {% set val_sub_clausula = val_sub_clausula + 1 %}
    </strong>
     El
    <strong>
        VENDEDOR
    </strong>
     libera al
    <strong>
        COMPRADOR
    </strong>
     de responsabilidad ante cualquier reclamaci&oacute;n de terceros que se produzca por los conceptos expresados en el apartado precedente, subrog&aacute;ndose el
    <strong>
        VENDEDOR
    </strong>
     en lugar y grado del
    <strong>
        COMPRADOR
    </strong>
     a los efectos procesales y de indemnizaci&oacute;n.
</p>