{% set val_sub_clausula = 1 %}
<p style="text-align: center;">
    <strong>
        CLAUSULA {{ clausulas[val_clausula]}}
    </strong>
</p>
<p style="text-align: center;">
    <strong>
CONFIDENCIALIDAD Y USO DE LA INFORMACI&Oacute;N
    </strong>
</p>


<p>
    <strong>
       {{val_clausula }}.{{val_sub_clausula}}
       {% set val_sub_clausula = val_sub_clausula + 1 %}
    </strong>
 
     Reconociendo que las Partes poseen cierta Informaci&oacute;n Confidencial y que compartir&aacute;n en el desarrollo del Contrato, se comprometen a mantener en secreto y, en consecuencia, no revelar a terceros bajo ning&uacute;n concepto, sin el consentimiento previo por escrito de la otra parte, la Informaci&oacute;n Confidencial.
</p>
<p>
    <strong>
       {{val_clausula }}.{{val_sub_clausula}}
       {% set val_sub_clausula = val_sub_clausula + 1 %}
    </strong>
     Las partes deber&aacute;n asegurar que cada uno de sus directores, empleados o consultantes se comprometan a mantener la confidencialidad de la informaci&oacute;n y a regirse por los t&eacute;rminos de esta cl&aacute;usula y como si fueran partes del presente Contrato. Las partes ser&aacute;n responsables de cualquier violaci&oacute;n de los t&eacute;rminos de esta cl&aacute;usula por cualquiera de sus Representantes.
</p>
<p>
    <strong>
       {{val_clausula }}.{{val_sub_clausula}}
       {% set val_sub_clausula = val_sub_clausula + 1 %}
    </strong>
     Ninguna de las partes, sin previo consentimiento escrito de la otra, utilizar&aacute;, ni directa ni indirectamente, la Informaci&oacute;n en su totalidad o en parte para ning&uacute;n prop&oacute;sito diferente que el de llevar a cabo el cumplimiento del Contrato, no utilizar&aacute; ni procurar&aacute; utilizar la informaci&oacute;n de manera que sea o pueda ser perjudicial para el cumplimiento del Contrato o de las partes.
</p>
<p>
    <strong>
       {{val_clausula }}.{{val_sub_clausula}}
       {% set val_sub_clausula = val_sub_clausula + 1 %}
    </strong>
     No se considera Informaci&oacute;n Confidencial la que:
</p>
<ul>
    <li>
        Sea de dominio p&uacute;blico.
    </li>
    <li>
        Se requiera su divulgaci&oacute;n debido a una orden judicial o gubernamental v&aacute;lida y de obligatorio cumplimiento.
    </li>
    <li>
        Est&aacute; o puede convertirse en disponible al p&uacute;blico como resultado de la disoluci&oacute;n de alguna de las partes.
    </li>
    <li>
        Es de conocimiento del receptor, seg&uacute;n evidencia por escrito u otras v&iacute;as del receptor, sobre base no-confidencial antes de la revelaci&oacute;n por los patrocinadores o una de las partes al Receptor.
    </li>
    <li>
        El receptor legalmente es requerido a revelar la informaci&oacute;n por una Corte, disposici&oacute;n gubernamental, u otro requerimiento legal, con tal que previamente a tal revelaci&oacute;n, el receptor consulte a los patrocinadores, para la aplicaci&oacute;n del permiso legal, seg&uacute;n la naturaleza y prop&oacute;sitos de tal revelaci&oacute;n, y que tal revelaci&oacute;n sea limitada al m&iacute;nimo necesario a fin de cumplir con tal obligaci&oacute;n de revelaci&oacute;n.
    </li>
</ul>