{% set val_sub_clausula = 1 %}
<p style="text-align: center;">
    <strong>
        CLAUSULA {{ clausulas[val_clausula]}}
    </strong>
</p>
<p style="text-align: center;">
    <strong>
CESI&Oacute;N DE CONTRATO
    </strong>
</p>


<p>
    <strong>
       {{val_clausula }}.{{val_sub_clausula}}
       {% set val_sub_clausula = val_sub_clausula + 1 %}
    </strong>
     Ninguna de las partes podr&aacute;, en principio, ceder las obligaciones y derechos que emanan del presente Contrato, salvo consentimiento expreso de la otra.
</p>
<p>
    <strong>
       {{val_clausula }}.{{val_sub_clausula}}
       {% set val_sub_clausula = val_sub_clausula + 1 %}
    </strong>
    La parte que pretenda ceder alguna o todas, (entendido como cesi&oacute;n del Contrato), de las obligaciones y derechos contra&iacute;dos, vendr&aacute; obligada a comunicarlo por escrito y con 60 d&iacute;as de antelaci&oacute;n a la fecha que lo proponga, a la otra parte, la que deber&aacute; con las mismas formalidades expresar su consentimiento o discrepancia con relaci&oacute;n al asunto propuesto, dentro de los 30 d&iacute;as siguientes a la recepci&oacute;n del ofrecimiento.
</p>
<p>
    <strong>
       {{val_clausula }}.{{val_sub_clausula}}
       {% set val_sub_clausula = val_sub_clausula + 1 %}
    </strong>
    La propuesta de cesi&oacute;n deber&aacute; ser enviada por escrito y suscrita siempre por el representante legal de ambas partes, exponiendo las razones que fundamentan dicha solicitud, la entidad que se propone asumir&aacute; el Contrato, los datos que acreditan la personalidad jur&iacute;dica y representaci&oacute;n legal de la misma, as&iacute; como cuantos elementos se entiendan necesarios por las partes para legitimar el acto de cesi&oacute;n.
</p>
<p>
    <strong>
       {{val_clausula }}.{{val_sub_clausula}}
       {% set val_sub_clausula = val_sub_clausula + 1 %}
    </strong>
    El acuerdo sobre la cesi&oacute;n del Contrato deber&aacute; hacerse por escrito y constituir un suplemento.
</p>