{% set val_sub_clausula = 1 %}
<p style="text-align: center;">
    <strong>
        CLAUSULA {{ clausulas[val_clausula]}}
    </strong>
</p>
<p style="text-align: center;">
    <strong>
TERMINACI&Oacute;N DEL CONTRATO
    </strong>
</p>


<p>
    <strong>
       {{val_clausula }}.{{val_sub_clausula}}
       {% set val_sub_clausula = val_sub_clausula + 1 %}
    </strong>
     Cualquiera de las partes, podr&aacute; exigir la terminaci&oacute;n del Contrato, siempre que lo comunique a la otra con treinta (30) d&iacute;as de antelaci&oacute;n a la fecha en que pretende dar por terminada la relaci&oacute;n contractual, siempre y cuando concurran las siguientes causales:
</p>
<ol>
    <li>
        Acuerdo entre las partes.
    </li>
    <li>
        Incumplimiento de las obligaciones de cualquiera de las partes en cuyo caso les dar&aacute; derecho a las otras siempre que estas &uacute;ltimas hayan satisfecho las suyas propias exigibles.
    </li>
    <li>
        Circunstancias eximentes de responsabilidad tal y como se prev&eacute; en la
        <u>
            Cl&aacute;usula XI
        </u>
         del presente Contrato.
    </li>
</ol>
<p>
    <strong>
       {{val_clausula }}.{{val_sub_clausula}}
       {% set val_sub_clausula = val_sub_clausula + 1 %}
    </strong>
    Las partes quedan sujetas a ejecutar el cumplimiento de sus obligaciones pendientes, sin perjuicios de lo que proceda en caso del cese de la relaci&oacute;n contractual.
</p>