{% set val_sub_clausula = 1 %}
<p style="text-align: center;">
    <strong>
        CLAUSULA {{ clausulas[val_clausula]}}
    </strong>
</p>
<p style="text-align: center;">
    <strong>
 OTRAS CONDICIONES
    </strong>
</p>


<p>
    <strong>
       {{val_clausula }}.{{val_sub_clausula}}
       {% set val_sub_clausula = val_sub_clausula + 1 %}
    </strong>
     La Empresa
    <strong>
        ENERGOIMPORT
    </strong>
    , en su car&aacute;cter de
    <strong>
        COMPRADOR
    </strong>
    , es una Empresa constituida al amparo de la legislaci&oacute;n de la Rep&uacute;blica de Cuba, en virtud de lo cual posee personalidad jur&iacute;dica y patrimonio propio, teniendo total independencia legal, econ&oacute;mica y jur&iacute;dica con relaci&oacute;n al Estado Cubano y/o cualesquiera terceras entidades de esa nacionalidad, por lo que responde exclusivamente con su patrimonio financiero, por las obligaciones contra&iacute;das en virtud del Contrato.
</p>
<p>
    <strong>
       {{val_clausula }}.{{val_sub_clausula}}
       {% set val_sub_clausula = val_sub_clausula + 1 %}
    </strong>
     Todos los gastos, incluidos cargos bancarios, impuestos y recaudaciones aduanales, en el territorio del pa&iacute;s del
    <strong>
        VENDEDOR
    </strong>
     relativos al presente Contrato ser&aacute;n pagados por el
    <strong>
        VENDEDOR
    </strong>
     y los gastos de igual naturaleza en el pa&iacute;s del
    <strong>
        COMPRADOR
    </strong>
    , ser&aacute;n pagados por el
    <strong>
        COMPRADOR
    </strong>
    .
</p>
<p>
    <strong>
       {{val_clausula }}.{{val_sub_clausula}}
       {% set val_sub_clausula = val_sub_clausula + 1 %}
    </strong>
     El t&eacute;rmino d&iacute;as, meses, a&ntilde;os, utilizado a trav&eacute;s del presente Contrato, se refiere a d&iacute;as, meses y a&ntilde;os naturales.
</p>
<p>
    <strong>
       {{val_clausula }}.{{val_sub_clausula}}
       {% set val_sub_clausula = val_sub_clausula + 1 %}
    </strong>
     El presente Contrato consta de dieciocho (18) Cl&aacute;usulas y un (1) Anexo que forman parte integrante del mismo.
</p>
<p>
    <strong>
       {{val_clausula }}.{{val_sub_clausula}}
       {% set val_sub_clausula = val_sub_clausula + 1 %}
    </strong>
    El presente Contrato entra en vigor a partir de la fecha de la firma del mismo por las partes y entrar&aacute; en ejecuci&oacute;n a partir de la emisi&oacute;n de la Carta de Cr&eacute;dito y mantendr&aacute; su vigencia hasta que concluya la ejecuci&oacute;n de sus obligaciones y no se haya ejecutado el &uacute;ltimo de sus suplementos firmados, salvo acuerdo en contrario de las partes.
</p>
<p>
    <strong>
       {{val_clausula }}.{{val_sub_clausula}}
       {% set val_sub_clausula = val_sub_clausula + 1 %}
    </strong>
     Los da&ntilde;os y perjuicios producidos por incumplimiento del Contrato o cualquiera de sus cl&aacute;usulas, ser&aacute;n siempre reclamables, independientemente de las penalidades que procedan.
</p>
<p>
    <strong>
       {{val_clausula }}.{{val_sub_clausula}}
       {% set val_sub_clausula = val_sub_clausula + 1 %}
    </strong>
     Todo Suplemento a este Contrato tendr&aacute; validez si est&aacute; redactado por escrito y firmado por las partes.
</p>