
<article style="font-size: 12px; font-family: Arial; text-align: justify;">

{{ include('contract/contract/_00_personeria.html.twig') }}

{% set val_clausula = 1 %}
{{ include('contract/contract/_01_objeto.html.twig') }}

{% set val_clausula = val_clausula + 1 %}
{{ include('contract/contract/_02_precios.html.twig') }}

{% set val_clausula = val_clausula + 1 %}
{{ include('contract/contract/_03_formapago.html.twig') }}


{% set val_clausula = val_clausula + 1 %}
{{ include('contract/contract/_04_condentrega.html.twig') }}



{% set val_clausula = val_clausula + 1 %}
{{ include('contract/contract/_05_embalaje.html.twig') }}


{% set val_clausula = val_clausula + 1 %}
{{ include('contract/contract/_06_inspeccion.html.twig') }}


{% set val_clausula = val_clausula + 1 %}
{{ include('contract/contract/_07_garantia.html.twig') }}


{% set val_clausula = val_clausula + 1 %}
{{ include('contract/contract/_08_seguro.html.twig') }}


{% set val_clausula = val_clausula + 1 %}
{{ include('contract/contract/_09_penalidades.html.twig') }}


{% set val_clausula = val_clausula + 1 %}
{{ include('contract/contract/_10_reclamaciones.html.twig') }}


{% set val_clausula = val_clausula + 1 %}
{{ include('contract/contract/_11_circunstancias.html.twig') }}


{% set val_clausula = val_clausula + 1 %}
{{ include('contract/contract/_12_arbitraje.html.twig') }}



{% set val_clausula = val_clausula + 1 %}
{{ include('contract/contract/_13_patentes.html.twig') }}



{% set val_clausula = val_clausula + 1 %}
{{ include('contract/contract/_14_confidencialidad.html.twig') }}



{% set val_clausula = val_clausula + 1 %}
{{ include('contract/contract/_15_cesion.html.twig') }}


{% set val_clausula = val_clausula + 1 %}
{{ include('contract/contract/_16_terminacion.html.twig') }}



{% set val_clausula = val_clausula + 1 %}
{{ include('contract/contract/_17_regulacionesamb.html.twig') }}

{% set val_clausula = val_clausula + 1 %}
{{ include('contract/contract/_18_otrascond.html.twig') }}



     
<p>
    El presente Contrato se firma en idioma Espa&ntilde;ol en La Habana a los _____d&iacute;as del mes ___________________del 2019, en dos ejemplares iguales con el mismo valor legal.
</p>

</article>