    <h1>Nueva reserva en Vinales.taxi.</h1>
    <h2>Aún el cliente no ha recibido confirmación. Debera enviarle un mensaje</h2>

    <table class="table">
        <tbody>
            <tr>
                <th>Número de reserva</th>
                <td>{{ booking.orderNumber }}</td>
            </tr>
            <tr>
                <th>Nombre del cliente</th>
                <td>{{ booking.clientName }}</td>
            </tr>
            <tr>
                <th>Email del cliente</th>
                <td>{{ booking.clientEmail }}</td>
            </tr>
            <tr>
                <th>Lugar</th>
                <td>{{ booking.pickupPlace }}</td>
            </tr>

            <tr>
                <th>Detalles</th>
                <td>{{ booking.pickupDetails }}</td>
            </tr>
            <tr>
                <th>Fecha</th>
                <td>{{ booking.pickupTime ? booking.pickupDate|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Hora</th>
                <td>{{ booking.pickupTime ? booking.pickupTime|date('H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Mensaje del cliente</th>
                <td>{{ booking.clientMessage }}</td>
            </tr>
            <tr>
                <th>Idioma</th>
                <td>{{ booking.bookingLang }}</td>
            </tr>
            <tr>
                <th>Fecha/Hora en que reserva</th>
                <td>{{ booking.bookingTime ? booking.bookingTime|date('Y-m-d H:i:s') : '' }}</td>
            </tr>

            <tr>
                <th>Campaña</th>
                <td>{{ booking.campaign }}</td>
            </tr>

        </tbody>
    </table>

    <a href="{{ absolute_url('booking_index') }}">Ver todas las reservast</a>

    <a href="{{ absolute_url('booking_edit', {'id': booking.id}) }}">Edit</a>

