{% extends 'frontend/base.html.twig' %}

{% block title %}{% trans %}Index.title{% endtrans %}{% endblock %}

{% block body %}
    <main class="main">
        <div class="main__image">
            <picture>
                <source media="(min-width: 800px)" srcset="{{ asset('img/main.jpg') }}">
                <!-- img tag for browsers that do not support picture element -->
                <img src="{{ asset('img/main_portraid.jpg') }}" alt="">
            </picture>
        </div>
        <div class="main__content">

            <div class="main__content__text">

                <div class="main__content__text__title">
                    <h1 class="title title--white title--big">
                        Taxi <small>to</small> Vinales
                    </h1>
                </div>

                <div class="main__content__text__subtext">
                    <span>Timeliness</span>
                    <span>Securess</span>
                    <span>Fast</span>
                    <span>Comfortable</span>
                </div>

            </div>

            <div class="main__content__button">
                <a class="btn btn--primary-gradient" href="{{ path('booking') }}">Make a Reservation</a>
            </div>
        </div>
    </main>

    <section id="why_with_us" class="why_with_us section">

        <div class="section__description">
            <div class="title title--center">
                <h2>Why with us?</h2>
            </div>
            <div class="section__description__text">
                <p>Lorem ipsum dolor sit amet, consectetur
                    adipisicing elit.
                </p>
            </div>

        </div>



        <div class="why_with_us__cards">

            <div class="why_with_us__cards__item">
                <div class="why_with_us__cards__item__text">
                    <p>In the <b>TOP FIVE</b> for more than a
                        <b>YEAR</b> in <b><a href="https://www.tripadvisor.com/Attraction_Review-g147271-d13554747-Reviews-Taxi_Drivers_Cuba-Havana_Ciudad_de_la_Habana_Province_Cuba.html" target="_blank
">TRIPADVISOR</a></b></p>
                </div>
            </div>

            <div class="why_with_us__cards__item">
                <div class="why_with_us__cards__item__text">
                    <p>We offer  <b>TIMELINESS</b> with a
                        <b>COMPETITIVE PRICE</b>
                        and <b>CONFORT</b></p>
                </div>
            </div>

            <div class="why_with_us__cards__item">
                <div class="why_with_us__cards__item__text">
                    <p>We can make a reservation in advance for
                        <b>HORSE RIDING</b> or <b>DIVING</b>
                        and also <b>LUNCH</b>
                        making a unique experience</p>
                </div>
            </div>

            <div class="why_with_us__cards__item">
                <div class="why_with_us__cards__item__text">
                    <p> <b>BABIES</b>...  <b>WHEAL-CHAIR</b>...
                        with not additional cost</p>
                </div>
            </div>

        </div>
    </section>

    <section id="activities" class="activities section">

        <div class="title title--center">
            <h2>What you can do?</h2>
        </div>

        <div class="activities__item">
            <div class="activities__item__image">
                <img src="{{ asset('img/1.jpg') }}" alt="">
            </div>
            <div class="activities__item__text">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias at consequuntur eos ex facere fugit iste iusto minus molestias necessitatibus nemo porro qui quibusdam saepe, sint sit ut vel velit?</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus asperiores at dicta, dignissimos distinctio, incidunt, inventore iure laudantium provident quae quibusdam recusandae suscipit ut? At eius exercitationem quisquam quo rerum?</p>
            </div>
        </div>

        <div class="activities__item activities__item--inverse">
            <div class="activities__item__image">
                <img src="{{ asset('img/2.jpg') }}" alt="">
            </div>
            <div class="activities__item__text">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur eligendi harum maxime nihil nostrum pariatur quia, quidem ratione rem voluptatibus? Deleniti dolorum excepturi, ipsam nesciunt nulla obcaecati repellendus voluptatem voluptatibus?</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus asperiores at dicta, dignissimos distinctio, incidunt, inventore iure laudantium provident quae quibusdam recusandae suscipit ut? At eius exercitationem quisquam quo rerum?</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias at consequuntur eos ex facere fugit iste iusto minus molestias necessitatibus nemo porro qui quibusdam saepe, sint sit ut vel velit?</p>
            </div>
        </div>

        <div class="activities__item">
            <div class="activities__item__image">
                <img src="{{ asset('img/3.jpg') }}" alt="">
            </div>
            <div class="activities__item__text">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias at consequuntur eos ex facere fugit iste iusto minus molestias necessitatibus nemo porro qui quibusdam saepe, sint sit ut vel velit?</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus asperiores at dicta, dignissimos distinctio, incidunt, inventore iure laudantium provident quae quibusdam recusandae suscipit ut? At eius exercitationem quisquam quo rerum?</p>
            </div>
        </div>

        <div class="activities__button">
            <a class="btn btn--primary-gradient" href="{{ path('booking') }}">
                Reservar
            </a>
        </div>
    </section>

    <section id="more_places" class="more_places parallax  section section--no-margin">

        <div class="more_places__content">
            <div class="more_places__content__title">
                <h2 class="title title--white title--big title--center">
                    Did you need more?
                </h2>
            </div>
            <div class="more_places__content__places">
                <ul>
                    <li><a href="https://www.taxidriverscuba.com/en/airport/1/transfer-from-the-airports-of-cuba-to-your-destination">Airport</a></li>
                    <li><a href="https://www.taxidriverscuba.com/en/experience/7/attractive-day-excursion-from-havana-to-varadero">Varadero</a></li>
                    <li><a href="https://www.taxidriverscuba.com/en/booking/5/habana-to-cayo-santa-maria">Cayo Santa Maria</a></li>
                    <li><a href="https://www.taxidriverscuba.com/en/booking/11/habana-to-cienfuegos">Cienfuegos</a></li>
                    <li><a href="https://www.taxidriverscuba.com/en/booking/13/trinidad">Trinidad</a></li>
                </ul>
            </div>
            <div class="more_places__content__button">
                <a class="btn btn--secundary-gradient" href="https://www.taxidriverscuba.com/">
                    See other destinations
                </a>
            </div>
        </div>

    </section>

    <section id="contact" class="contact_faq">

        <div class="title title--center">
            <h2>Contact & FAQ</h2>
        </div>

        <div class="contact_faq__content">

            <div class="contact_faq__content__faq">
                <h4>Frequently Askly questions</h4>
                <ul>
                    <li>
                        Can i pay with a transaction?
                        <p>yes</p>
                    </li>
                    <li>
                        The Tour to Vinales from Havana includes the return.
                        <p>Yes we can leave you at the same place we pick you up or the place you want in Havana</p>
                    </li>
                    <li>Do you pick me up from Cruise or Airport
                        <p>
                            Yes, you only need to check this option in the <a href="{{ path('booking') }}">RESERVATION FORM</a>.
                        </p>
                    </li>
                </ul>
            </div>

            <div class="contact_faq__content__contact">
                <h4>Send us a message</h4>

                <form action="" class="form">
                    <div class="form__item">
                        <label for="name">Your name</label>
                        <input id="name" type="text" placeholder="your name" required>
                    </div>
                    <div class="form__item">
                        <label for="email">Your email</label>
                        <input id="email" type="email" placeholder="your email" required>
                    </div>
                    <div class="form__item">
                        <label for="message">Message</label>
                        <textarea id="message" name="message" cols="30" rows="4" required></textarea>
                    </div>
                    <input class="btn btn--secundary-gradient" type="submit" value="Send message">
                </form>
            </div>

        </div>

    </section>

{% endblock %}
